---
import { render } from 'astro:content';
import BlogPostMeta from './BlogPostMeta.astro';
import Button from '../Button.astro';
import readingTime from 'reading-time';
import { Icon } from 'astro-icon/components'

interface Props {
  post: any;
}

const { post } = Astro.props;

const { Content } = await render(post);

const { text: minutesReadingText } = readingTime(post.body);
---


<article class="inline-blog-post">
  <div class="inline-blog-post-header">
    <h1>
      <a href={`/blog/${post.id}`}>{post.data.title}</a>
    </h1>
    <BlogPostMeta pubDate={post.data.pubDate} minutesReadingText={minutesReadingText} />
  </div>

  <div class="inline-blog-post-content-fader">
    <div class="inline-blog-post-content">
      <Content />
    </div>
  </div>



  <div class="inline-blog-post-footer">
    <div class="blog-post-tags-wrapper">
      <div class="blog-post-tags">
        {post.data.tags && post.data.tags.map(tag => (
          <span class="blog-post-tag" key={tag}>#{tag}</span>
        ))}
      </div>
    </div>

    <div class="inline-blog-post-read-more">
      <Button href={`/blog/${post.id}`}>
      <span class="button-text-and-icon icon-right">
        Read
        <Icon name="chevrons-right" />
      </span>
      </Button>
    </div>
  </div>



  <hr class="inline-blog-post-divider" />
</article>
