---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogPostMeta from "../components/blog/BlogPostMeta.astro";
import { Icon } from 'astro-icon/components'

const { frontmatter } = Astro.props;

const { title, description, pubDate, image, tags } = frontmatter;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>

      <h1 class="blog-post-heading">{title}</h1>

      <BlogPostMeta pubDate={pubDate} />

      <div class="blog-post-tags-wrapper">
        <div class="blog-post-tags">
          {tags && tags.map(tag => (
            <span class="blog-post-tag" key={tag}>#{tag}</span>
          ))}
        </div>
      </div>

      <slot />

      <div class="blog-post-footer">
        <hr />

        <a href="/blog">
          <span class="button-text-and-icon icon-left">
            <Icon name="chevrons-left" />
            Blog Index
          </span>
        </a>
      </div>

    </main>
		<Footer />
	</body>
</html>
